@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: PressStart;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

:root {
    --lightgreen: #23861A;
    --mediumgreen: #005A00;
    --intermediategreen: #005900;
    --darkgreen: #002D00;
    --fz1: 16px;
    --fz2: 20px;
    --fz3: 24px;
    --fz4: 32px;
    --fz5: 36px;
    --fz6: 40px;
    --fz7: 64px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    
}

img {
    user-select: none;
    height: 100%;
}

body::-webkit-scrollbar { display: none; }

body {
    font-family: PressStart, sans-serif;
    background-color: transparent;
    overflow-x: hidden; /* отключает горизонтальный скролл */
    overflow-y: scroll; /* включает вертикальный скролл */
    background: black;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}



a, button {
    font-family: PressStart, sans-serif;
    font-weight: 500;
    user-select: none;
    text-decoration: none;
    transition: all .25s;
}

a:hover,
button:hover {
    filter: brightness(0.75);
    transition: all .25s;
}

a:active,
button:active {
    filter: brightness(0.6);
    transition: all .25s;
}


button:hover {
    box-shadow: 0 0 25px var(--darkgreen);
}

button:active {
    box-shadow: 0 0 45px var(--darkgreen);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* gap: 25px; */
    height: auto;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--lightgreen);
    box-shadow: inset 0 0 30px black;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header img {
    transition: all .25s;
    width: 8vw;
    height: 8vh;
}   
header img:hover {
    transition: all .25s;
    scale: 1.25;
}

header img:active {
    transition: all .25s;
    scale: 1.4;
}


.header__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    /* width: 100%; */
}

.header__nav-title,
.header__cabinet h1,
.header__cabinet a  {
    font-size: var(--fz4);
    color: white;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}

.header__cabinet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

.header__cabinet img {
    width: 10%;
    height: 10%;
}

.header__cabinet a:hover,
.header__nav a:hover {
    color: var(--darkgreen);
    text-shadow: 0 0 10px var(--darkgreen);
}

.header__cabinet a:active,
.header__nav a:active {
    color: black;
    text-shadow: 0 0 20px black;
    
}

.header__nav-image {
    display: none;
}

/* MAIN */


main {
    width: 100%;
    min-height: 400px;
    height: auto;
    padding-top: 150px;
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 150px;
}

/* XV Международная цифровая олимпиада «Волга-IT» */

.olympiad {
    position: relative;
    background-color: black;
    color: var(--lightgreen);
    text-align: center;
    font-size: var(--fz2);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
    gap: 22px;
    height: auto;
    min-height: 800px;
    /* padding-top: 83px; */
    /* padding-bottom: 5px; */
}

.olympiad::before {
    position: absolute;
    content: "";
    background-image: url('../img/svg/volga_icon1_NEW.svg');
    filter: opacity(0.75);
    width: 100%;
    height: 100%;
    bottom: -25%;
    left: auto;
    background-repeat: no-repeat;
}


.slashi h1:nth-child(2) {
    /* color: white; */
    margin-top: -30px;
    margin-left: 30px;
}



/* Каждый айтишник найдет свою компанию! */


.description {
    /* position: absolute; */
    min-height: 700px;
    height: auto;
    background: var(--darkgreen);
    /* box-shadow: inset 0 0 30px black; */
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.description h1 {
    font-size: var(--fz5);
    text-align: center;
    /* line-height: 0; */

}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.desc img {
    width: 25%;
    height: 25%;
}

.desc p {
    font-family: Roboto, sans-serif;
    line-height: 64px;
    font-size: var(--fz4);
    text-wrap: wrap;
    text-indent: 35px;
}

/* Наши цифры */

.our-numbers {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 163px;
    background: black;
}

.our-numbers h1 {
    font-size: var(--fz7);
    color: white;

}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    gap: 30px;
}

.numbers-item {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.numbers-item h1 {
    font-size: var(--fz6);

}

.numbers-item img {
    /* width: 50%;
    height: 50%; */
}

.numbers-item p {
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);
    color: white;

}

/* Дисциплины */

.disciplines {
    min-height: 3500px;
    height: auto;
    background: var(--darkgreen);
    box-shadow: inset 0 0 30px black;
    color: white;
    font-weight: 400;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    gap: 60px;
    text-align: center;
    margin: 0 auto;


}

.disciplines h1 {
    font-size: var(--fz7);
    margin-bottom: 30px;
}

.discipl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.discipl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    gap: 60px;
}

.discipl-item img {
    width: 25%;
    height: 25%;

}

.discipl-item:nth-child(2n) {
    flex-direction: row;
}



.discipl-item:nth-child(2n-1) {
    flex-direction: row-reverse;
}


.discipl-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.discipl-description h1 {
    font-size: var(--fz6);
    text-align: center;
    line-height: 60px;
}

.discipl-description ul {
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);

}

/* Этапы */

.steps {
    height: 1500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.steps h1 {
    font-size: var(--fz7);
    text-align: center;
    color: white;
}

.steps-item {
    height: 292px;
    background-color: var(--darkgreen);
    border-radius: 50px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
}

.steps-item h1 {
    font-size: 128px;
}

.steps-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.steps-description h1 {
    font-size: var(--fz5);
}

.steps-dates {
    height: 80px;
    background: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 20px;
}

.steps-dates p {
    font-family: PressStart, sans-serif !important;
    text-align: center;
    width: 100%;
    font-size: var(--fz3);
    color: white;
}

.steps-description p {
    width: 100%;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: var(--fz3);
}

/* Самое актуальное */

.actual {
    height: auto;
    background-color: var(--intermediategreen);
    box-shadow: inset 0 0 60px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;

}

.actual h1 {
    font-size: var(--fz7);
    text-align: center;
    color: white;
    padding: 40px;
}

.actual button {
    width: 250px;
    height: 80px;
    color: white;
    background: var(--darkgreen);
    border-radius: 20px;
    text-align: center;
    font-size: var(--fz2);
    border: none;

}

.actual__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.actual__inner-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 45%;
    height: auto;
    min-height: 700px;
    background: var(--lightgreen);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.actual__inner-item h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fz2);
    margin: 0 auto;
    text-align: center;
    padding: 10px 60px 10px 60px;
    height: 77px;
    width: 100%;
    background: var(--darkgreen);
}

.actual__inner-item-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 40px;
}

.actual__inner-item-desc img {
    width: 65%;
    height: 65%;
    border-radius: 10px;
}

.actual__inner-item-desc p {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: var(--fz3);
}

.actual__inner-item-desc button {
    width: 250px;
    height: 80px;
    color: white;
    background: var(--darkgreen);
    box-shadow: inset 0 0 40px var(--lightgreen);
    border-radius: 20px;
    text-align: center;
    font-size: var(--fz2);
    border: none;
}


/* Что даёт участие? */

.ychastie {
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;

}

.ychastie h1 {
    font-size: var(--fz5);
    text-align: center;
    color: white;

}

.ychastie-item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.ychastie-item ul {
    line-height: 50px;
}

/* Как это было в прошлые годы? */

.proshloe {
    min-height: 1200px;
    height: auto;
    background: var(--intermediategreen);
    box-shadow: inset 0 0 30px black;
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin: 0 auto;


}

.swiper {
    width: 75%;
    height: 726px;
    padding: 50px !important;
    background: var(--lightgreen);
    box-shadow: inset 0 0 35px var(--intermediategreen);
    border-radius: 140px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper {
    padding: 50px;
    font-size: var(--fz2);
}

/* .mySwiper {
    width: 75%;
} */

.proshloe h1 {
    font-size: var(--fz5);
}

.swiper-slide img {
    margin: 0 auto;
    width: 85%;
    height: 85%;
    border-radius: 20px;
    object-fit: cover;
}

.proshloe button {
    width: 250px;
    height: 80px;
    color: white;
    background: var(--darkgreen);
    border-radius: 20px;
    text-align: center;
    font-size: var(--fz2);
    border: none;
}



/* Задания и решения прошлых лет */

.tasks {
    height: auto;
    background-color: black;
    box-shadow: inset 0 0 60px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 100px;
}

.tasks h1 {
    font-size: var(--fz5);
    text-align: center;
    color: white;
}

.tasks p {
    font-size: var(--fz2);
    text-align: left;
    color: white;
    line-height: 50px;

}

.year-n-spec {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.year-n-spec select[name="year"] {
    width: 10%;
    height: 70px;
    background: var(--darkgreen);
    border-radius: 20px;
    font-family: PressStart, sans-serif;
    text-align: center;
    font-size: var(--fz2);
    color: white;
    border: none;
    padding: 25px;
}

.year-n-spec option[name="year"] {
    border: none;
}


.year-n-spec select[name="spec"] {
    width: 60%;
    height: 70px;
    background: var(--darkgreen);
    border-radius: 20px;
    font-family: PressStart, sans-serif;
    text-align: left;
    font-size: var(--fz2);
    color: white;
    border: none;
    padding: 25px;
}

.year-n-spec option[name="spec"] {
    border: none;

}

.year-n-spec a {
    color: white;
    text-decoration: none;

}

.tasks__inner {
    width: 85%;
    min-height: 600px;
    height: auto;
    background: var(--darkgreen);
    border-radius: 50px;
    font-family: PressStart, sans-serif;
    text-align: left;
    font-size: var(--fz2);
    color: white;
    border: none;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 50px;

}


.tasks__inner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.tasks__inner-item:nth-child(1) {
    width: 40%;    
}

.tasks__inner-item:nth-child(2) {
    width: 60%;
}

.tasks__inner-item h1 {
    font-size: var(--fz5);
    margin-bottom: 30px;
}


.tasks__inner-item a {
    font-family: PressStart, sans-serif;
    font-weight: 500;
    user-select: none;
    text-decoration: none;
    color: white;
    transition: all .25s;

}

.tasks__inner-item a:hover{
    filter: brightness(0.75);
    transition: all .25s;
}

.tasks__inner-item a:active{
    filter: brightness(0.5);
    transition: all .25s;
}

.downloads {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    align-items: center;
}

.download {
    font-size: var(--fz5);
}

.download img {
    width: clamp(5px, 30px, 60px);
    height: clamp(5px, 30px, 60px);
}



/* Организационный комитет */


.komitet {
    height: auto;
    background-color: var(--intermediategreen);
    box-shadow: inset 0 0 60px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

}

.komitet h1 {
    font-size: var(--fz6);
    text-align: center;
    color: white;
}

.komitet button {
    width: 350px;
    height: 100px;
    color: white;
    background: var(--darkgreen);
    border-radius: 20px;
    text-align: center;
    font-size: var(--fz2);
    border: none;

}

.komitet__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.komitet__inner-item::before {
    background: var(--lightgreen);
    content: "";
    width: 100%;
    min-height: 70%;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 10;
    border-radius: 40px;

}

.komitet__inner-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: 45%;
    height: auto;
    min-height: 500px;
    border-radius: 40px;
}

.komitet__inner-item h1 {
    z-index: 11;
    font-size: var(--fz2);
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


.komitet__inner-item img {
    z-index: 11;
    width: 35%;
    height: 35%;
    border-radius: 10px;

}

.komitet__inner-item p {
    z-index: 11;
    color: white;
    text-align: center;
    font-size: var(--fz1);
    width: 80%;
}

.judge {
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--darkgreen);
    height: 77px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

.komitet__inner-item-desc button {
    width: 250px;
    height: 80px;
    color: white;
    background: var(--darkgreen);
    box-shadow: inset 0 0 40px var(--lightgreen);
    border-radius: 20px;
    text-align: center;
    font-size: var(--fz2);
    border: none;
}







/* Победители 2023 года */


.winners {
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px;
}

.winners h1 {
    font-size: var(--fz6);
    text-align: center;
    color: white;

}

.winners__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 60px;
}


.winners__inner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.winners__inner-item:nth-child(1) {
    width: 35%;
}

.winners__inner-item:nth-child(2) {
    width: 65%;
}

.winners__inner-item a {
    color: white;
    text-decoration: dashed;
    text-align: center;
}

.winners__inner-item select[name="winners-spec"] {
    width: 85%;
    height: 90px;
    background: var(--darkgreen);
    border-radius: 20px;
    font-family: PressStart, sans-serif;
    text-align: left;
    font-size: var(--fz2);
    color: white;
    border: none;
    padding: 25px;

}

.winners__inner-item option[name="winners-spec"] {
    border: none;
}

.place {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.place img {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    object-fit: cover;
    image-orientation: center;

}

.place-desc {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 30px;
}

.place-desc h1 {
    font-size: var(--fz6);

}

.place-desc p {
    color: white;
    font-size: var(--fz3);
    text-align: left;
}



/* Регистрация */


.register {
    height: auto;
    background: var(--lightgreen);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
}

.register h1 {
    font-size: var(--fz3);
    text-wrap: wrap;
    text-align: center;
    color: white;
    line-height: 48px;
}

.register button {
    width: 400px;
    height: 60px;
    color: white;
    background: var(--darkgreen);
    border-radius: 20px;
    text-align: center;
    font-size: var(--fz1);
    border: none;
}












/* footer */


footer {
    min-height: 300px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.footer-documentaion {
    width: 100%;
    padding: 50px;
    height: auto;
    background: var(--darkgreen);
}

.footer-documentaion-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-documentaion-item a {
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);
    font-weight: 500;

}

.footer-documentaion-item h1 {
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);
    font-weight: 500;
}

.footer-documentaion-item:nth-child(2) {
    text-transform: uppercase;
    align-items: center;
}

.footer-documentaion-item hr {
    height: 5px;
    color: white;
    background: white;
    border: none;
    width: clamp(1%, 20%, 35%);
}

.footer-documentaion-item:nth-child(3)  {
    display: flex;
    flex-direction: row;
    align-items: start;
    /* flex-wrap: wrap; */
    gap: 15px;
    justify-content: center;
    margin-bottom: 40px;
}

.documentation {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.documentation h1 {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);
    font-weight: 500;

}

.documentation a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);
    font-weight: 500;

}


.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);
    gap: 30px;
    width: 100%;
    padding: 50px;
    background: black;
}

.footer-links h1 {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: var(--fz5);
    font-weight: 500;

}

.footer-links img {
    width: 8%;
    height: 8%;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: var(--fz6);
    font-weight: 500;

}

.social-links-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: var(--fz56);
    font-weight: 500;

}

.social-links-item img {
    width: 15%;
    height: 15%;

}

@media (max-width: 1575px) {
    header {
        padding: 10px;
        gap: 10px;
    }
    .header__nav a,
    .header__cabinet a {
        font-size: var(--fz2);
    }
}

@media  (max-width: 1488px) {
    .slashi {
        display: none;
    }
    .olympiad {
        min-height: 300px;
        height: auto;
        display: flex;
        justify-content: start;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px;
    }
    .olympiad::before {
        position: absolute;
        content: "";
        background-image: url('../img/svg/volga_icon1_NEW.svg');
        background-position: center;
        filter: opacity(0.75);
        width: 100%;
        height: 100%;
        bottom: 0;
        left: auto;
        background-repeat: no-repeat;
    }
    
    
    .slashi h1:nth-child(2) {
        /* color: white; */
        margin-top: -30px;
        margin-left: 30px;
    }
    .olympiad {
        width: 100%;    
    }
    .steps-description p {
        font-size: var(--fz2);
    }
    .actual__inner-item {
        min-height: 600px;
        justify-content: space-between;
    }
    .tasks__inner-item:nth-child(1) {
        width: 30%;
    }
    .tasks__inner-item:nth-child(2) {
        width: 70%;
    }
    h1 {
        font-size: var(--fz3);
    }
    .numbers {
        gap: 50px;
    }
    .our-numbers h1 {
        font-size: var(--fz5);
    }
    .numbers-item h1 {
        font-size: var(--fz3);
    }
    .numbers-item p {
        font-size: var(--fz4);
    }
    .steps-item {
        width: 100%;
        gap: 15px;
    }
    .disciplines h1 {
        font-size: var(--fz5);
        margin-bottom: 60px;
    }
    .discipl-description h1 {
        font-size: var(--fz3);
    }
    .discipl-description ul {
        font-size: var(--fz4);
    }
    .discipl-item {
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
    }
    .tasks__inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 50px;
    
    }
    .tasks__inner-item {
        flex-wrap: wrap;
    }
}


@media (max-width: 1150px) {
    .description {
        padding: 15px;
    }
    .desc {
        padding: 15px;
    }
    .tasks__inner-item {
        flex-direction: column;
    }
    .tasks__inner-item:nth-child(2) .downloads .download {
        font-size: var(--fz2);
    }
    .downloads {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .download {
        display: flex;
        flex-direction: row;
        gap: 15px;
        font-size: var(--fz3);
        white-space: nowrap;
    }
    .year-n-spec {
        flex-direction: column;
        gap: 30px;
    }
    .year-n-spec select[name="year"] {
        width: 40%;
        height: 70px;
    }
    .year-n-spec select[name="spec"] {
        width: 90%;
        height: 70px;
    }
    .tasks {
        gap: 50px;
        height: auto;
    }
    .tasks__inner {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
    }
    .tasks__inner-item,
    .tasks__inner-item:nth-child(1),
    .tasks__inner-item:nth-child(2) {
        width: 100%;
        flex-wrap: wrap; 
        text-align: center;
    }
    .actual h1 {
        font-size: var(--fz3);
    }
    .actual__inner-item {
        width: 100%;
    }
    .ychastie {
        flex-direction: column-reverse;
    }
    .proshloe {
        padding: 50px;
    }
    .swiper {
        width: 95%;
        height: 726px;
        padding: 50px !important;
        background: var(--lightgreen);
        box-shadow: inset 0 0 35px var(--intermediategreen);
        border-radius: 140px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 1220px) {
    .description {
        width: 100%;
    }    
    .desc {
        flex-direction: column;
    }
    .komitet__inner {
        flex-direction: column;

    }
    .komitet__inner-item {
        width: 90%;
    }
    .footer-documentaion-item a,
    .documentation a,
    .documentation h1,
    .footer-liknks a,
    .footer-links h1,
    .social-links-item
     {
        font-size: var(--fz2);
    }
    .register h1 {
        font-size: var(--fz1);
    }
    .register button {
        padding: 20px;
        font-size: var(--fz1);
    }
}

@media (max-width: 1024px) {
    .olympiad {
        min-height: 300px;
        height: auto;
        display: flex;
        justify-content: start;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px;
    }
    .olympiad::before {
        position: absolute;
        content: "";
        background-image: url('../img/svg/volga_icon1_NEW.svg');
        filter: opacity(0.75);
        width: 100%;
        height: 100%;
        bottom: 0;
        left: auto;
        background-repeat: no-repeat;
    }
    .steps {
        height: auto;
        padding: 50px;
    }
    .actual h1 {
        font-size: var(--fz5);
    }
    .actual__inner-item h1 {
        font-size: var(--fz3);

    }
    .actual__inner-item {
        width: 95%;
    }
    .komitet__inner {
        gap: 10px;
    }
    .komitet__inner-item {
        width: 90%;
    }
    .winners h1 {
        font-size: var(--fz4);
    }
    .winners__inner {
        flex-direction: column;
        width: 100%;
    }
    .winners__inner-item,
    .winners__inner-item:nth-child(1),
    .winners__inner-item:nth-child(2) {
        width: 100%;
    }
    .winners__inner-item select[name="winners-spec"] {
        width: 100%;
        height: 90px;
        background: var(--darkgreen);
        border-radius: 20px;
        font-family: PressStart, sans-serif;
        text-align: left;
        font-size: var(--fz2);
        color: white;
        border: none;
        padding: 25px;
    
    }
    .register h1 {
        font-size: var(--fz1);
        text-wrap: wrap;
        text-align: center;
        color: white;
        line-height: 36px;
    }
    .register button {
        padding: 15px;
    }
    .footer-documentaion h1,
    .footer-documentaion a {
        font-size: var(--fz3);
    }
    .footer-links h1,
    .footer-links a {
        font-size: var(--fz3);
    }
    .komitet {
        padding: 25px;
    }
    .komitet__inner {
        gap: 25px;
    }
    .komitet__inner-item {
        width: 100%;
    }
    .footer-documentaion,
    .footer-links {
        padding: 25px;
    }
}

@media (max-width: 850px) {
    .olympiad {
        min-height: 300px;
        height: auto;
        display: flex;
        justify-content: start;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px;
    }
    .olympiad::before {
        position: absolute;
        content: "";
        background-image: url('../img/svg/volga_icon1_NEW.svg');
        filter: opacity(0.75);
        width: 100%;
        height: 100%;
        bottom: 0;
        left: auto;
        background-repeat: no-repeat;
    }
    .our-numbers {
        height: auto;
    }
    .numbers {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .numbers-item {
        width: 40%;
    }
    .steps-dates {
        font-size: var(--fz1);
        width: 100%;
    }
    .actual h1 {
        font-size: var(--fz4);
    }
    .ychastie {
        padding: 50px;
    }
    .ychastie-item {
        width: 100%;
    }
    .ychastie img {
        width: 90%;
        height: 90%;
    }
    .proshloe {
        padding: 25px;
    }
    .swiper {
        width: 100%;
        height: 726px;
        padding: 50px !important;
        background: var(--lightgreen);
        box-shadow: inset 0 0 35px var(--intermediategreen);
        border-radius: 140px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .downloads {
        flex-wrap: wrap;

    }
    .komitet {
        padding: 25px;
    }
    .komitet__inner {
        gap: 25px;
    }
    .komitet__inner-item {
        width: 100%;
    }
    .footer-documentaion,
    .footer-links {
        padding: 25px;
    }
}


@media (max-width: 768px) {
    .header__cabinet {
        width: 30%;
    }
    .header__nav-image {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
    }
    .header__nav-text {
        display: none;
    }
    .our-numbers h1 {
        font-size: var(--fz4);
    }
    .our-numbers {
        padding: 60px 20px;
        gap: 40px;
    }
    .numbers-item {
        width: 44%;
    }
    .disciplines {
        padding: 50px;
    }
    .discipl-item img {
        width: 70%;
        height: 70%;
    }
    .discipl-description h1 {
        padding: 0;
        margin-bottom: 0;
    }
    .steps {
        padding: 20px;

    }
    .steps-item {
        width: 100%;
        gap: 15px;
        padding: 10px;
    }
    .steps h1 {
        font-size: var(--fz4);
    }
    .steps-item h1 {
        font-size: var(--fz7);
    }
    .steps-description h1 {
        font-size: var(--fz3);
    }
    .steps-dates p {
        font-size: var(--fz1);
    }
    .actual {
        padding: 25px;  
    }
    .actual__inner-item {
        width: 90%;
    }
    .proshloe {
        padding: 15px;
    }
    .ychastie {
        padding: 40px;
        width: 100%;
    }
    .ychastie-item {
        width: 100%;
    }
    .ychastie-item h1 {
        font-size: var(--fz3);
    }
    .ychastie-item ul {
        font-size: 14px;
    }
    .swiper {
        width: 100%;
        height: 726px;
        padding: 25px !important;
        background: var(--lightgreen);
        box-shadow: inset 0 0 35px var(--intermediategreen);
        border-radius: 140px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .register {
        flex-direction: column;
        padding: 15px;
        gap: 10px;
    }
    .register h1 {
        font-size: var(--fz1);
        width: 100%;
    }
    .tasks {
        padding: 30px;
    }
    .tasks h1 {
        font-size: var(--fz3);
    }
    .tasks p {
        font-size: var(--fz1);
    }
    .year-n-spec select[name="spec"] {
        width: 100%;
    }
    .tasks__inner {
        gap: 10px;
        align-items: start;
        justify-content: start;
        height: auto;
        min-height: 350px;
        gap: 50px;
    }
    .komitet {
        padding: 20px;
    }
    .komitet h1 {
        margin-top: 20px;
        font-size: var(--fz3);
    }
    .winners {
        padding: 20px;
    }
    .winners h1 {
        font-size: var(--fz3);
    }
    .place-desc h1 {
        font-size: var(--fz3);
    }
    .place-desc p {
        font-size: var(--fz2);
    }
    .footer-documentaion,
    .footer-links {
        padding: 15px;
    }
    .footer-documentaion-item:nth-child(3) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .documentation {
        width: 100%;
    }
    .documentation a,
    .documentation h1 {
        font-size: var(--fz3);
        text-align: center;
    }
    .social-links a {
        font-size: var(--fz1);
    }
    .footer-links h1 {
        font-size: var(--fz1);
    }
}

@media (max-width: 480px) {
    .header__cabinet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__cabinet img {
        width: 40%;
        height: 40%;
    }
    .header__cabinet a {
        font-size: 10px;
    }
    .description h1 {
        font-size: var(--fz2);

    }
    .description {
        gap: 10px;
    }
    .desc img {
        width: 50%;
        height: 50%;
    }
    .desc p {
        font-size: var(--fz2);
        line-height: 36px;
    }
    .our-numbers h1 {
        font-size: var(--fz3);
    }
    .number-item {
        gap: 10px;
    }
    .numbers-item h1,
    .numbers-item p {
        font-size: var(--fz2);
    }
    .disciplines h1 {
        font-size: var(--fz2);
    }
    .disciplines {
        padding: 30px;
    }
    .discipl-description h1 {
        font-size: var(--fz1);
        line-height: 36px;
    }
    .discipl-description ul {
        font-size: var(--fz1);
        line-height: 36px;
        width: 100%;
    }
    .steps-dates p {
        font-size: 14px;
        padding: 5px;
    }
    .steps-item {
        flex-direction: column;
        min-height: 400px;
        height: auto;
    }
    .ychastie {
        gap: 10px;
    }
    .ychastie-item {
        width: 100%;
    }
    .ychastie-item h1 {
        font-size: var(--fz1);
    }
    .ychastie-item ul {
        font-size: 9px;
        line-height: 36px;
    }
    .proshloe h1 {
        font-size: var(--fz2);
    }
    .swiper {
        border-radius: 20px;
        width: 105%;
    }
    .tasks p {
        line-height: 36px;
        font-size: var(--fz1);
    }
    .stupid-title {
        text-align: center !important;
    }
    .komitet__inner-item p {
        font-size: 10px;
        line-height: 24px;
    }
    .winners h1 {
        font-size: var(--fz1);
    }
    .winners__inner-item a {
        font-size: 12px;
    }
    .winners__inner-item select[name="winners-spec"] {
        padding: 5px;
        height: 50px;
        border-radius: 10px;
        font-size: var(--fz1);
    }
    .winners__inner-item option {
        font-size: 10px;
    }
    .place-desc h1 {
        font-size: var(--fz1);   
    }
    .place-desc p {
        font-size: 14px;
    }
    .register button {
        width: 80%;
        padding: 10px;
        font-size: 10px;
    }
    .footer-documentaion-item:nth-child(1) {
        gap: 25px;

    }
    .footer-documentaion-item hr {
        display: none;
    }
    .footer-documentaion-item:nth-child(2) h1 {
        text-decoration: underline;
        font-weight: 600;
        letter-spacing: 6px;
    }
    .documentation h1,
    .documentation a {
        font-size: var(--fz1);
    }
    .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-links img {
        width: 25%;
        height: 25%;
    }
}

@media (max-width: 360px) {
    .header__nav .header__nav-image {
        gap: 3px;
        justify-content: center;
        align-items: center;
    }
    .olympiad h1 {
        font-size: var(--fz1);
    }
    .numbers {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numbers-item {
        width: 100%;
        gap: 0;
    }
    .steps-item h1 {
        font-size: var(--fz6);
    }
    .steps-description h1 {
        font-size: var(--fz2);
    }
    .steps-dates {
        border-radius: 15px;
        height: auto;
    }
    .steps-dates p {
        width: 100%;
        font-size: 10px;
    }
    .steps-description p {
        font-size: var(--fz1);
    }
    .steps-item {
        gap: 5px;
        min-height: 300px;
        height: auto;
    }
    .actual h1 {
        font-size: var(--fz2);
    }
    .actual__inner-item {
        min-height: 200px;
        height: auto;
    }
    .actual__inner-item:nth-child(3),
    .actual__inner-item:nth-child(4),
    .actual__inner-item:nth-child(5),
    .actual__inner-item:nth-child(6),
    .actual__inner-item:nth-child(7) {
        display: none;
    }
    .year-n-spec select[name="year"] {
        width: 70%;
        font-size: var(--fz1);
    }
    .year-n-spec select[name="spec"] {
        width: 100%;
        font-size: var(--fz1);
    }
    .komitet h1 {
        font-size: var(--fz1);
    }
    .komitet {
        height: auto;
        min-height: 400px;
    }
    .komitet__inner {
        gap: 10px;
    }
}